@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.nav {
    margin-top: 0px;
}


.btn-outline-success {
    border: none;
    color: white;
    background-color: #C93D8D;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-outline-success:hover {
    background-color: #e88eff;
}

.form-control {
    background-color: #3b3b3b;
    border: none;
    color: #c4c4c4;
}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

body {
    background-color: #120227;
}

.nav-item {
    padding-left: 40px;
}


.vip {
    color: #ffe298;
    font-size: 16px;
    line-height: 24px;
}

/* Content */

.contents {
    margin-top: 100px;
    padding-right: 0px;
}


.card {
    padding : 10px;
    border: 2px solid #ffffff;
}

.btn-colour-1 {
    background-color: #C93D8D;
    color: white;
    margin-top: 20px;
}

.btn-colour-1:hover {
    background-color: #dd1787;
    color: white;
    margin-top: 20px;
}

.col-xl-3 {
    margin-right: 70px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.row {
    margin-left: 20px;
}

.title-top {
    color: #ffffff;
    margin-top: 200px;
    font-family: 'VT323', monospace;
    margin: 200px 0px 40px 20px;
    text-align: center;
}

.title-top h1 {
    font-size: 50px;
}

.pushable {
    background: rgb(166, 0, 172);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(245, 0, 253);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

  .message-title {
      margin-left: 30px;
  }

  .message h2,p{
    color: white;
  }

  .message {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 50px;
    background-color: #120227;
    border-top: 1px solid rgb(95, 95, 95);
    border-radius: 30px;
  }

footer {
    
    background-color: #303030;
    color : #fff;
    height: 350px;
    padding : 40px;
    border-top: 1px solid white;
    margin-top: 50px;
    border-radius: 20px;
  }
  


  .footer-list li {
    padding-bottom : 20px;
    margin-top: 20px;
  }

  .footer-list li {
    list-style: none;
    
}

.footer-list {
    padding-right: 40px;
}

.footer-list li a:link {
    text-decoration: none;
}

.bottom {
    height: 30px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 2px;
}

.bottom h5{
    color: white;
    background-color: black;
}



/* Blog */
.blog {
    font-size: 60px;
    color: #fff;
    margin-top: 150px;
    
}

.article {
    margin-top: 30px;
}

.article-text p{
    font-size: 15px;
    margin-top: 15px;
    margin-right: 60px;
}

/* about */

.about {
    margin-top: 150px;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 100px;
  }
  
  
  .iconz {
    color: #ffffff;
    font-weight: 900;
    font-size: 22rem;
    transition: all 0.2s;
    margin: 0.4rem;
  }
  
  .iconz:hover {
    color: #af0098;
    filter: drop-shadow(0 0 20px rgb(240, 0, 188));
    transform: scale(1.1);
  }
  
  a {
    color: transparent;
  }
  